.image-selector__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.image-selector__title h1 {
    margin: 0
}

.image-selector__list {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
}

button.image-selector__item {
    margin: .5rem;
    max-width: 150px;
    border: 0;
}

button.image-selector__item img {
    width: 100%;
}

button.image-selector__item img:hover {
    cursor: pointer;
}
