.sui-template__add-button {
    font-size: 1.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: #8b034f;
    color: white;
    border: 0;
    line-height: 2rem;
    text-align: center;
}

.sui-template__component-selector {
    background-color: #8b034f;
    color: white;
    height: 1rem;
    padding: .5rem;
    border-radius: 5px;
    box-sizing: content-box;
    border: 0;

    -webkit-appearance: none;
    -moz-appearance: none;

    margin-right: 1rem;
}

.sui-template__select--wrapper {
    padding: 0 1rem 1rem;
    display: flex;
}