.projectDetails {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

@media (max-width: 54rem) {
    .projectDetails {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.fields-section {
    flex-grow: 1;
}

.update-button, .delete-button {
    padding: 1rem;
    border-radius: 3px;
}

.cover-button {
    width: 90%;
    max-width: 200px;

    padding: 0;

    background-color: transparent;
}

.cover-button img {
    width: 100%;
}

.cover-image {
    width: 100%;
}
